:root {
  --gray-clr: #888888;
  --white-clr: #fff;
  --theme-clr: #d8ae82;
  --black-clr: #000;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.head {
  & .name {
    position: relative;
    text-align: center;
    & span {
      background: var(--white-clr);
      padding: 5px 20px;
      border: 3px solid var(--theme-clr);
      font-size: 30px;
      font-weight: 600;
    }
  }
  & .line {
    width: 20%;
    & hr {
      border-top: 3px solid var(--theme-clr);
    }
  }
  & .text {
    letter-spacing: 2px;
    font-weight: 600;
  }
}
.container-fluid {
  padding: 40px 0px 20px 0px;
  margin: 20px;
  width: calc(100% - 40px);
  border: 2px solid var(--black-clr);
}
.bg-gray {
  background-color: var(--gray-clr);
  padding: 35px;
  margin-top: -22px;
}
.div-main {
  padding: 70px 0px 30px 0px;
  display: flex;
}
.div-right {
  flex: 1;
  padding: 0 40px;
  & article {
    & .head {
      flex-direction: row;
    }
  }
  & .head {
    & .line {
      width: 10%;
    }
  }
  .project {
    &:not(:nth-child(2)) {
      margin-top: 60px;
    }
  }
}
.div-left {
  width: 30%;
  border-right: 3px solid var(--theme-clr);
  padding: 0 40px;
}
.m-b-50 {
  margin-bottom: 50px;
}
article {
  & .head {
    position: relative;
    font-size: 20px;
    display: flex;
    flex-flow: row-reverse;
    top: -17px;
  }
}
.p-r-20 {
  padding-right: 20px;
}
.p-l-20 {
  padding-left: 20px;
}
.contact {
  & .row {
    padding: 10px;
  }
  .picture {
    background-image: url(/img/Tamilarasan.jpg);
    width: 100px;
    height: 100px;
    overflow: hidden;
    background-position: 0 23%;
    background-size: 108%;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
.theme-clr {
  color: var(--theme-clr);
}
.gray-clr {
  color: var(--gray-clr);
}
.education p:first-child {
  margin-bottom: 10px;
}
.education p {
  margin-bottom: 0px;
}
.project {
  position: relative;
}
.company {
  position: absolute;
  right: 34px;
  width: 100px;
  top: 12px;
}
.project {
  & p {
    &:nth-child(2) {
      font-size: 18px;
    }
  }
}
.skill {
  margin-bottom: 5px;
  & .stars {
    & div {
      padding: 3px;
      background: var(--theme-clr);
      margin-right: 7%;
      &:last-child {
        margin-right: 0%;
      }
    }
  }
  & img {
    margin-bottom: 5px;
  }
}
.stars {
  > div {
    &:first-child {
      background: var(--gray-clr);
    }
  }
}
%gray-out-2 {
  .stars {
    > div {
      &:nth-child(2) {
        background: var(--gray-clr);
      }
    }
  }
}

.nodejs {
  @extend %gray-out-2;
}

.react {
  @extend %gray-out-2;
}
.width-35px {
  width: 35px;
  height: 35px;
}

.other-works {
  li {
    a {
      font-size: 16px;
      color: #607d8b;
      font-weight: 600;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.print {
  position: fixed;
  top: 28px;
  right: 27px;
  & img {
    width: 30px;
  }
}
@media print {
  .print {
    display: none !important;
  }
  .project.dashboard-earth {
    margin-top: 350px !important;
  }
}
