:root {
    --gray-clr: #888888;
    --white-clr: #fff;
    --theme-clr: #D8AE82;
    --black-clr: #000;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.head .name {
    position: relative;
    text-align: center;
}
.head .name span {
    background: var(--white-clr);
    padding: 5px 20px;
    border: 3px solid var(--theme-clr);
    font-size: 30px;
    font-weight: 600;
}
.container-fluid {
    padding: 40px 0px 20px 0px;
    margin: 20px;
    width: calc(100% - 40px);
    border: 2px solid var(--black-clr);
}
.bg-gray {
    background-color: var(--gray-clr);
    padding: 35px;
    margin-top:-22px;
}
.div-main {
    padding: 70px 0px 30px 0px;
    display: flex;
}
.div-right {
    flex: 1;
    padding: 0 40px;
}
.div-left {
    width: 30%;
    border-right: 3px solid var(--theme-clr);
    padding: 0 40px;
}
.m-b-50 {
    margin-bottom: 50px;
}
article .head {
    position: relative;
    font-size: 20px;
    display: flex;
    flex-flow: row-reverse;
    top: -17px;
}
.head .line {
    width: 20%;
}
.head .line hr {
    border-top: 3px solid var(--theme-clr);
}
.p-r-20 {
    padding-right: 20px;
}
.p-l-20 {
    padding-left: 20px;
}
.contact .row {
    padding: 10px;
}
.div-right article .head {
    flex-direction: row;
}
.div-right .head .line {
    width: 10%;
}
.head .text {
    letter-spacing: 2px;
    font-weight: 600;
}
.theme-clr {
    color: var(--theme-clr);
}
.gray-clr {
    color: var(--gray-clr);
}
.education p:first-child {
    margin-bottom: 10px;
}
.education p {
    margin-bottom: 0px;
}